$colourTemplate: #007bff;

.wrapper {
  display: flex;
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.col-1 {
  width: 100%;
  justify-content: space-between;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);

  @media (max-width: 992px) {
    margin-right: 0;
  }
}

.col-2 {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  border-radius: 5px;
  margin-left: 5px;
  padding: 15px;
  height: 200px;

  @media (max-width: 992px) {
    margin-left: 0;
    margin-top: 10px;
  }
}

.item {
  display: flex;
  padding: 10px;
  border-bottom: 3px solid #f2f2f2;
  &:last-child {
    border-bottom: none;
  }
  @media (max-width: 480px) {
    flex-direction: column;
  }
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.item__empty {
  display: flex;
  height: 100%;
  font-size: 2rem;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    flex-direction: column;
  }
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.item__image {
  width: 100%;
  align-self: center;
  img {
    width: 95%;
    min-width: 200px;
  }
}

.item__information {
  min-width: 200px;
}

.item__information_title {
  font-size: 1rem;
  font-weight: bold;
}

.item__information_description {

}

.item__quantity {
  display: flex;
  padding: 6px;
  justify-content: center;
  align-self: center;
}

.item__total {
  display: flex;
  align-self: center;
}

.item__total-price {
  align-self: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.item__quantity_button-count {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid $colourTemplate;
  margin: 0 15px 0;
  color: #000;
  font-size: 0.8rem;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: $colourTemplate;
    color: #fff;
  }
}

.item__quantity_input {
  width: 30px;
  height: 25px;
  text-align: center;
}

.total__subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total__subtotal_name {

}

.total__subtotal_cost {
  font-weight: bold;
}

.total__shipping {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #f2f2f2;
}

.total__shipping_name {

}

.total__shipping_cost {
  font-weight: bold;
}

.total__cost {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

.total__buy {

}

.total__buy_button-proceed {
  display: block;
  height: 30px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid green;
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: #51b64b;
    color: #fff;
  }
}