$colourTemplate: #007bff;

.header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: $colourTemplate;
  width: 100%;
  line-height: 56px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.header__title {
  margin: 0 0 0 15px;
  line-height: 1;
  font-size: 1.5rem;
}

.header__nav {
  ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  li {
    padding-right: 15px;
    padding-left: 15px;
  }
  li:hover {
    transition: 1s;
    background-color: #005fff87;
  }
}